# Включаем механизм перезаписи URL и настраиваем параметры
RewriteEngine On
Options +FollowSymlinks
Options -Indexes

# Перенаправление на HTTPS, если не используется порт 443
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# Если запрашиваемый файл является директорией, возвращаем ошибку 404
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule ^ - [R=404,L]

# Блокируем доступ к любым .php файлам в первичном URI, включая GET-параметры
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ - [R=404,L]

# Добавление .php к запрашиваемому URI, если файл существует
RewriteCond %{REQUEST_FILENAME} !config$
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.php [L]

# Обработка ошибок 404
# Если запрашиваемый файл не соответствует разрешенным типам
RewriteCond %{REQUEST_FILENAME} !\.(json|js|css|jpg|png|ttf|woff|html)$
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [R=404,L]

# Указываем страницу для обработки ошибок 404
ErrorDocument 404 /404err.html